@import url(../vars.css);
.App {
  background-color: white;
  height          : 100%;
  width           : 100%;
  display         : flex;
  flex-flow       : column nowrap;
}

.Home{
  margin: auto;
}

.WelcomeMessage{
  width: 480px;
  font: 24px/48px sans-serif;
  color:#333;
 }