@import url(../varsSyncano.css);
@import '@aexol/slothking-form/lib/fields/components/all.css';
.FormGen {
  display: flex;
  flex-flow: column nowrap;
}

.FormGen .Submit {
  background: var(--syncano-admin-color-five);
  color: var(--syncano-admin-color-one);
  align-self: flex-end;
  padding: 10px 20px;
  margin-top: 15px;
  cursor: pointer;
  -webkit-appearance: none;
  border-radius: none;
  outline: 0;
  border: 0;
  text-transform: capitalize;
}
.Textarea,
.Input {
  margin-bottom: 10px;
  padding: 15px;
  outline: none;
  font-size: 15px;
  border: 0;
  border: 1px solid var(--syncano-admin-color-two);
  border-radius: 0;
  width: 100%;
  box-sizing: border-box;
  width: 100%;
  -webkit-appearance: none;
}

.Textarea::placeholder {
  color: var(--syncano-admin-color-two);
}

.BooleanField {
  margin-bottom: 10px;
}
.BooleanField label {
  margin-right: 10px;
}

.formgenInput {
  margin: 0;
}

.formgenFile {
  background: none;
  color: var(--syncano-admin-color-five);
  box-shadow: none;
  margin: 0;
  min-width: auto;
  padding: 0;
  display: block;
}

.formgenFile input {
  opacity: 1;
  position: relative;
  color: var(--syncano-admin-color-five);
}
.Tag {
  margin: 0;
}

.Tag .show-value {
  background: var(--syncano-admin-color-four);
  color: var(--syncano-admin-color-one);
  font-weight: 300;
  border: 0;
  padding: 8px 15px;
}

.Tag .show-value .delete:hover {
  color: var(--syncano-admin-color-seven);
}

.Tag .holder-select .holder-value {
  padding: 0;
}

.JsonEditor {
  margin-bottom: 10px;
}

.formgenFile input {
  border: 0;
}

.formgenFile .file_holder {
  display: none;
}

.Modal .Dialog .ModalBody .FormGen .Select-control {
  height: 50px;
  border-radius: 0;
  border: 1px solid var(--syncano-admin-color-two);
  margin-bottom: 8px;
}

.Select-control .Select-multi-value-wrapper input {
  border: 0;
}

.Select-control .Select-multi-value-wrapper .Select-value-label {
  position: relative;
  top: 8px;
}
