@import url(../varsSyncano.css);
@import '@aexol/slothking-form/lib/fields/components/MultiSelect.css';

.MultiSelect {
  margin: 10px 0 15px;
  width: 100% !important;
}
.MultiSelect .holderSelect {
  font-size: 12px;
  width: 100%;
}
.MultiSelect .SelectArrow {
  border-color: var(--syncano-admin-color-one) transparent transparent;
}
.MultiSelect .holderValue {
  border: 1px solid var(--syncano-admin-color-one);
  width: 100%;
  min-height: 40px;
}
.MultiSelect .placeholderValue {
  font-size: 15px;
  letter-spacing: 1.2px;
  font-weight: 300;
  padding: 10px 15px;
  box-sizing: border-box;
  color: var(--syncano-admin-color-one);
}
.MultiSelect .showValue {
  color: var(--syncano-admin-color-one);
  background: var(--syncano-admin-color-four);
  border: 1px solid var(--syncano-admin-color-four);
  letter-spacing: 1.2px;
  font-weight: 300;
  padding: 8px 15px;
}
.MultiSelect .Delete:hover {
  color: var(--syncano-admin-color-seven);
}
.MultiSelect .holderValues {
  background: var(--syncano-admin-color-five);
  border-color: none;
}
.MultiSelect .selectValue {
  font-weight: 300;
}
.MultiSelect .selectValue:hover {
  background: var(--syncano-admin-color-one);
  color: var(--syncano-admin-color-five);
}
